<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>{% block title %}Project Tracker{% endblock %}</title>
    <style>
        .Buttons {
            display: fixed;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .gen-button {
            padding: 1rem 1rem;
            font-family: sans-serif;
            cursor: pointer;
        }


    </style>
</head>

<body class="{{ theme }}-theme">
    <!-- Common header -->
    <header class="bg-gray-900 text-white p-4">
        <div class="container mx-auto">
            <!-- Add navigation or other header elements as needed -->
            <div id="Buttons">
                {% if gen_button %}
                    <button class="gen-button"><a href="admin/">Login</a></button>
                {% endif %}
                {% if sign_up_button %}
                    <button class="sign-button"><a href="sing_up.html">Sign Up</a></button>
                {% endif %}
                {% if gantt_button %}
                    <button class="gantt-button"><a href="gantt.html/">General Gantt</a></button>
                {% endif %}
                {% if back_button %}
                    <button class="back-button"><a href="{% url 'project_tracker' %}">Back </a></button>        
                {% endif %}
                {% if project %}
                    <button class="project.button"><a href="project_tracker.html">Summary table></a></button>
                {% endif %}
                
            </div>
        </div>
    </header>
</body>

</html>
