<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      margin: 0;
    }

    .info-box {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      text-align: left;
    }
  </style>
</head>
<body>
  <div class="info-box">
    <h3>Developed by Vincentiu Mocanu/nx025113</h1>
    <h3>Nexperia UK LTD:  Manchester</h3>
    <h3>Status: under development</h3>
    <h3>Team: Equipment Development | Quality</h3>
  </div>
</body>
</html>
