<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <title>{% block title %}Project Tracker{% endblock %}</title>

</head>

<!--Logo-->



<body>

  <div class="bg-lightgray dark:bg-gray-800 text-black dark:text-white">
      <header class="bg-gray-900 text-white p-3">
        <div class="container mx-auto">
          <img src="" alt="">
          </div>
          <h3>Developed by Vincentiu Mocanu </h1>
          <h3>Sao Paulo, Brazil</h3>
          <h3>Date: Wed, 21 Feb 2024</h3>
          <h3>Hours spent: too many</h3>
          </div>
      </header>
      <footer style="text-align: center;" >
        <p>&copy; 2024 Project Tracker.</p>
      </footer>
  </div>



</body>
</html>
